[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.32"
python-telegram-bot = "~=13.15"
boto3 = "~=1.42"

[dev-packages]

[requires]
python_version = "3.9"
